snippet opts "add options to function or script"
while getopts "h$1" opt; do
	case $opt in
		$2) $3 ;;
		$4) $5 ;;
		h) echo "Usage: \${0:t}"
	esac
done
$0
endsnippet

snippet header "section header"
#+============================================================================+
# ${1}
#+============================================================================+

${0}
endsnippet

snippet func "basic function"
function $1() {
	$0
}
endsnippet
