.ansible
**/.secrets
.git
.idea/
.vscode/
images/
.DS_Store
configs/fish/fish_variables
**/.nvimlog
*.scr
**/tls.*
.build/
.scratch/
configs/nvim/plugin/packer_compiled.lua

**/node_modules/
.yarn/*
configs/lunar-vim/plugin/
