[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
autopep8 = "*"
pylint = "*"

[packages]
click = "*"
requests = "*"
bs4 = "*"
pynvim = "*"

[requires]
python_version = "3.8"
